html,
body {
  margin: 0;
  height: 100%;
  font-size: 14px;
}

.container {
  display: flex;
  height: 100%;
}

.side-bar {
  min-width: 20rem;
  overflow: scroll;
}

#dragbar{
  background-color: black;
  top: 0;
  float: left;
  width: 0.5rem;
  margin: 0px;
  cursor: col-resize;
}

.content {
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}