html,
body {
  margin: 0;
  height: 100%;
  font-size: 14px;
}

.container {
  display: flex;
  height: 100%;
}

#side-bar {
  margin: 5px;
  min-width: 20rem;
  overflow: auto;
}

#splitter{
  background-color: darkgray;
  top: 0;
  float: left;
  width: 3px;
  margin: 0px;
  cursor: col-resize;
}

#content {
  width: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}